<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        checkForUnintentionallyCoveredCode="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        verbose="true">
    
    <testsuite name="small">
        <directory suffix="Test.php">./Tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

